/* Header.css */
.header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 2px solid red; /* Detalhes em vermelho */
  }
  
  .logo {
    color: red; /* Texto da logo em vermelho */
  }
  
  .login {
    color: red; /* Texto do login em vermelho */
    cursor: pointer; /* Adiciona cursor de mão ao passar por cima */
  }
  